# Important: This file is only for local development
# Database connection params (MySQL)
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=3306

# Admin
# Recommend 20 lenght
PANEL_ADMIN_PASSWORD=notSecure