RewriteEngine On

RewriteRule ^$ Nav.php
RewriteRule ^(talleres|comentarios|ayuda)/?$ Nav.php?nav=$1

RewriteRule ^taller/(registro|lista)/([0-9]+)/?$ workshop/Workshop.php?view=$1&workshop=$2 
RewriteRule ^taller/print/([0-9]+)/?$ workshop/WorkshopPDFList.php?workshop=$1

RewriteRule ^admin/comentarios/?$ admin/CommentaryList.php
